<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css style files -->
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>

    <p> click to change color </p>
    <div class="rgb">
        <label>r</label><div class="n1">Are</div>
        <label>g</label><div class="n2">You</div>
        <label>b</label><div class="n3">Ready!</div>
    </div>

    <!-- js files -->
    <script src="../javascript/main.js"></script>
</body>
</html>